.formulario-busca {
    display: flex;
    flex-direction: column;
}

.titulo-page {
    color: var(--neutral-01, #12131A);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%;
    margin-top: 32px;
}

.sub-titulo {
    color: var(--neutral-02, #696C80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 12px;
}

.inputs-busca {
    display: flex;
    align-items: center;
    margin: 24px 0 24px 0;
    
}

#busca-cpf {
    width: 160px;
    padding: 14px 12px;
    border-radius: 6px;
    border: 1px solid var(--neutral-04, #BBBDCC);
    background: var(--background-alternative, #F9FBFC);
}

#busca-nome {
    width: 474px;
    padding: 14px 12px;
    border-radius: 6px;
    border: 1px solid var(--neutral-04, #BBBDCC);
    background: var(--background-alternative, #F9FBFC);
    margin-left: 12px;
}

.linha-horizontal {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
    margin: 0 0 12px 0;
}

#btn-busca {
    width: 178px;
    height: 48px;
    padding: 16px 20px;
    border-radius: 6px;
    background: #A0BBE9;
    align-items: center;
    justify-content: center;

    color: #FEFEFE;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border: none;
    margin-left: auto;

    cursor: pointer;
}