.form-cadastro {
}

.menu-center {
    padding-top: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    // max-width: 650px;
    // width: 618px;

    .menu-desc-select {
        color: var(--neutral-01, #12131a);
        /* Headline/H500 */
        // font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        border-bottom: 2px solid var(--neutral-01, #12131a);
        height: 36px;
        width: 206px;
        margin-right: 8px;
    }

    .menu-desc-neutro {
        color: var(--neutral-02, #696c80);
        /* Paragraph/P3 */
        // font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        height: 36px;
        width: 206px;
        cursor: pointer;
        border-bottom: 1px solid var(--neutral-04, #bbbdcc);
        margin-right: 8px;
    }
}

.container-dados {
    display: grid;
    justify-content: start;
    align-items: center;
    max-width: 650px;

    .titulo-tela {
        color: var(--neutral-01, #12131a);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 132%;
        padding-top: 24px;
    }

    .sub-titulo-tela {
        color: var(--neutral-02, #696c80);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .content-tela {
        padding-top: 16px;
        display: grid;
        justify-content: start;
        align-items: center;

        .row-content {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-bottom: 16px;
        }
    }
}

.input-base,
.input-pequeno,
.input-medio,
.input-grande {
    border-radius: 6px;
    border: 1px solid var(--neutral-04, #bbbdcc);
    background: var(--background-main, #fff);
    height: 48px;
    margin-right: 16px;
}

.input-pequeno {
    width: 113px;
}

.input-medio {
    width: 199px;
}

.input-grande {
    width: 418px !important;
}

// ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//     background-color: transparent !important;
// }

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-label-wrapper {
    font-size: 12px !important;
    // top: 6px !important;
    // left: 3px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px 0.75em 0 4px !important;
    background-color: transparent !important;
}

.text-area-obs {
    display: flex;
    height: 128px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--neutral-04, #bbbdcc);
    background: var(--background-main, #fff);
    width: 618px;

    overflow: hidden;
    color: var(--neutral-01, #12131a);
    text-overflow: ellipsis;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    resize: none;
}

.info-input {
    color: var(--neutral-02, #696c80);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    position: relative;
    top: -15px;
}

.card-file {
    display: flex;
    height: 199px;
    width: 618px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--neutral-05, #dfe0e7);
    background: var(--background-main, #fff);
}

.icone-file {
    background-image: url(../../../assets/icones/icone-file.svg);
    background-repeat: no-repeat !important;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.desc-card-file {
    color: var(--neutral-02, #696c80);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 200px;
}

.desc-click-file
{
    color: var(--semantic-info, #36F);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;  
    cursor: pointer;
}
