<div *ngIf="!home" class="container-sidebar">

  <!-- <div class="grupo-menu">
    <div class="container-icone-menu">
      <div class="one-inativo"
        [ngClass]="{'one-ativo':router.url.includes('/dashboard-one') , 'one-inativo': !router.url.includes('/dashboard-one')}"
        (click)="selecionaMenu(1)">
      </div>
    </div>
    <div
      [ngClass]="{'titulo-menu': router.url.includes('/dashboard-one'), 'titulo-menu-inativo': !router.url.includes('/dashboard-one')}">
      {{'sidebar.menu1' | translate}}</div>
  </div> -->


  <div class="grupo-menu">
    <div class="container-icone-menu">
      <div class="comunicacao-sair" (click)="sairPortal()">
      </div>
    </div>
    <div class="titulo-menu-inativo">
      {{'sidebar-menu-sair' | translate}}</div>
  </div>



</div>

<!-- MENU CENTRAL PARINA ESCOLHAS  -->
<div class="base-sidebar-home">

  <div *ngIf="home" class="container-sidebar-home">

    <!-- <div class="grupo-menu-home" (click)="selecionaMenu(1)">
      <div class="container-icone-menu">
        <div class="one-inativo"
          [ngClass]="{'one-ativo':router.url.includes('/dashboard-one') , 'one-inativo': !router.url.includes('/dashboard-one')}">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu1' | translate}}</div>
    </div> -->


    <div class="grupo-menu-home" (click)="selecionaMenu(2)">
      <div class="container-icone-menu">
        <div class="home-awareness-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu2' | translate}}</div>
    </div>


    <div class="grupo-menu-home" (click)="selecionaMenu(3)">
      <div class="container-icone-menu">
        <div class="home-funill-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu3' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(4)">
      <div class="container-icone-menu">
        <div class="home-imagem-pura-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu4' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(5)">
      <div class="container-icone-menu">
        <div class="home-posicao-marca-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu5' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(6)">
      <div class="container-icone-menu">
        <div class="home-brand-creator-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu6' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(7)">
      <div class="container-icone-menu">
        <div class="home-comunicacao-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu7' | translate}}</div>
    </div>


  </div>

</div>


<div class="container-menu-lateral-mobile" id="menu-mobile">
  <div class="container-logo-page-mobile">

    <div> <img class="logo-leroy-page" src="assets/imagePages/logo-pequeno.svg"></div>

    <div (click)="closeMenu()"><img class="fechar-menu-icone" src="assets/imagePages/fechar-menu.svg"></div>
  </div>
<!-- 
    <div class="grupo-menu"  (click)="selecionaMenu(1)">
      <div class="container-icone-menu">
        <div class="one-inativo"
          [ngClass]="{'one-ativo':router.url.includes('/dashboard-one') , 'one-inativo': !router.url.includes('/dashboard-one')}"
          (click)="selecionaMenu(1)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-one'), 'titulo-menu-inativo': !router.url.includes('/dashboard-one')}">
        {{'sidebar.menu1' | translate}}</div>
    </div> -->
  
  
    <div class="grupo-menu" (click)="selecionaMenu(2)">
      <div class="container-icone-menu">
        <div class="one-inativo"
          [ngClass]="{'awareness-ativo':router.url.includes('/dashboard-awareness') , 'awareness-inativo': !router.url.includes('/dashboard-awareness')}"
          (click)="selecionaMenu(2)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-awareness'), 'titulo-menu-inativo':!router.url.includes('/dashboard-awareness')}">
        {{'sidebar.menu2' | translate}}</div>
    </div>
  
  
    <div class="grupo-menu" (click)="selecionaMenu(3)">
      <div class="container-icone-menu">
        <div class="funill-inativo"
          [ngClass]="{'funill-ativo':router.url.includes('/dashboard-funil') , 'funill-inativo': !router.url.includes('/dashboard-funil')}"
          (click)="selecionaMenu(3)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-funil'), 'titulo-menu-inativo': !router.url.includes('/dashboard-funil')}">
        {{'sidebar.menu3' | translate}}</div>
    </div>
  
    <div class="grupo-menu" (click)="selecionaMenu(4)">
      <div class="container-icone-menu">
        <div class="imagem-pura-inativo"
          [ngClass]="{'imagem-pura-ativo':router.url.includes('/dashboard-imagem-pura') , 'imagem-pura-inativo': !router.url.includes('/dashboard-imagem-pura')}"
          (click)="selecionaMenu(4)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-imagem-pura'), 'titulo-menu-inativo':!router.url.includes('/dashboard-imagem-pura')}">
        {{'sidebar.menu4' | translate}}</div>
    </div>
  
    <div class="grupo-menu" (click)="selecionaMenu(5)">
      <div class="container-icone-menu">
        <div class="posicao-marca-inativo"
          [ngClass]="{'posicao-marca-ativo':router.url.includes('/dashboard-posicionamento-marca') , 'posicao-marca-inativo': !router.url.includes('/dashboard-posicionamento-marca')}"
          (click)="selecionaMenu(5)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-posicionamento-marca'), 'titulo-menu-inativo':!router.url.includes('/dashboard-posicionamento-marca')}">
        {{'sidebar.menu5' | translate}}</div>
    </div>
  
    <div class="grupo-menu" (click)="selecionaMenu(6)">
      <div class="container-icone-menu">
        <div class="brand-creator-inativo"
          [ngClass]="{'brand-creator-ativo':router.url.includes('/dashboard-brand-creator') , 'brand-creator-inativo': !router.url.includes('/dashboard-brand-creator')}"
          (click)="selecionaMenu(6)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-brand-creator'), 'titulo-menu-inativo':!router.url.includes('/dashboard-brand-creator')}">
        {{'sidebar.menu6' | translate}}</div>
    </div>
  
    <div class="grupo-menu" (click)="selecionaMenu(7)">
      <div class="container-icone-menu">
        <div class="comunicacao-inativo"
          [ngClass]="{'comunicacao-ativo':router.url.includes('/dashboard-comunicacao') , 'comunicacao-inativo': !router.url.includes('/dashboard-comunicacao')}"
          (click)="selecionaMenu(7)">
        </div>
      </div>
      <div
        [ngClass]="{'titulo-menu': router.url.includes('/dashboard-comunicacao'), 'titulo-menu-inativo':!router.url.includes('/dashboard-comunicacao')}">
        {{'sidebar.menu7' | translate}}</div>
    </div>



    <div class="grupo-menu">
      <div class="container-icone-menu">
        <div class="comunicacao-sair" (click)="sairPortal()">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar-menu-sair' | translate}}</div>
    </div>
  
  
  


  <!-- <div class="container-icone-menu-sair" (click)="sairPortal()">
    <img class="icone-menu-sair" src="assets/imagePages/icone-sair.png">
  </div> -->



</div>